
{% extends "layout.html" %}

{% block content %}
<main class="h-screen w-screen flex flex-col overflow-x-hidden overflow-y-auto">
    <h1
    class="p-4 flex justify-end w-full text-xl/6 font-semibold text-green-950"
  >
    Confirm deletion
  </h1>
    <section class="flex flex-col justify-start items-start">

        <form class="flex flex-col gap-2 self-center w-96 glass p-4" method="post">
            {% csrf_token %}
            <span class="text-xl/6 text-green-950 pb-2">Are you sure to delete The <span class=" text-green-400">Share</span></span>
            <fieldset class="flex flex-1 gap-2 text-sm/6">
                <button class="btn btn-error btn-outline">Delete Confirm</button>
                <a href="{% url 'share:index' %}" class="btn btn-outline border-green-400 hover:bg-green-400 text-sm/6 ">Cancel</a>
            </fieldset>
        </form>

    </section>
</main>
{% endblock %}